<div class="body dialog-body">

    <!-- <div class="dialog-nav-bar">

        <mat-icon class="icon">block</mat-icon>
        <span class="text">
            no data found
        </span>
        <button mat-icon-button color="warn" [disabled]="!canClose" (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>

    </div> -->

    <div class="content dialog-content">

        <div class="user-hint">

            Please upload data to display.

        </div>

        <div class="suggeston-wrapper">

            <div class="suggestion exemplary-solution" (click)="useExampleSolution()">

                <div class="headline">
                    use exemplary solution
                </div>

                <div class="sub-title">
                    use and visualize exemplary solution
                </div>

                <div class="footer">
                    <mat-icon>view_in_ar</mat-icon>
                </div>

            </div>

            <div class="suggestion upload-own-solution" (click)="uploadSolution.click()">

                <div class="headline">
                    upload solution
                </div>

                <div class="sub-title">
                    upload your own solution
                </div>

                <div class="footer">
                    <mat-icon>cloud_upload</mat-icon>
                </div>

            </div>

        </div>

    </div>

</div>

<input #uploadSolution type="file" class="file-upload" (input)="uploadOwnSolution($any($event))"
    style="display: none;" accept="application/json" />